*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: var(--container-background-color, #000);
	color: var(--element-active-color, #eaa75e);
	font-family: var(--font-default, "Noto Sans", sans-serif);
}
